
<%if current_user.nil?%>
    <li><%= link_to 'Quienes somos',"#quienes_somos"%></li>
    <li><a href="#row">Sucursales</a></li>
    <li><a href="#work">Principios</a></li>
    <li><a href="#contact">Contacto</a></li>
    <li><%= link_to 'Iniciar sesión', new_user_session_path%></li>

<%end%>
<%unless current_user.nil?%>
    <%if current_user.tipo==2%>
        <li><%= link_to 'Levantar ordenes',tables_path%></li>
    <%end%>
    <%if current_user.tipo==1%>
        <li><%= link_to 'Barra caliente',barra_caliente_path%></li>
        <li><%= link_to 'Barra caliente',barra_fria_path%></li>
    <%end%>
    <li><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %></li> 
<%end%>
