
<%if current_user.nil?%>
    <li><%= link_to 'Quienes somos',"#quienes_somos"%></li>
    <li><a href="#row">Sucursales</a></li>
    <li><a href="#work">Principios</a></li>
    <li><a href="#contact">Contacto</a></li>
    <li><%= link_to 'Iniciar sesión', new_user_session_path%></li>

<%end%>
<%unless current_user.nil?%>
    <%if current_user.tipo==3%>
        <li><%= link_to 'Levantar pedido',pedido_path%></li>
        <li><%= link_to 'Cobrar',tables_path%></li>
        <%Category.where('is_instant =?',true).each do |c|%>
            <li><%= link_to c.name,c%></li>
        <%end%>
        <li><%=link_to 'Clientes a domicilio',customers_path%></li>
    <%end%>
    <%if current_user.tipo==2%>
        <li><%= link_to 'Levantar ordenes',pedido_path%></li>
        <li><%= link_to 'Platillos terminados',terminados_path%></li>
    <%end%>
    <%if current_user.tipo==1%>
        <%Category.all.each do |category|%>       
        <li><%= link_to category.name,category%></li>
        <%end%>
    <%end%>
    <li><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %></li> 
<%end%>
