  <style>
    body{
      background-color: #64dd17;
    }
  </style>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center amber-text text-darken-4">Tacos y mariscos Hnos SanJon</h1>
        <div class="row center">
          <h5 class="header col s12 light " style="background-color:lightgrey;">Calidad, Sabor y Servicio que ¡Nos distinguen! No seremos los mejores del mundo pero... ¡Si los Mejores del rumbo!</h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="btn-large waves-effect amber darken-4">Ver nuestro menu</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%=image_tag "https://scontent.ftrc1-1.fna.fbcdn.net/v/t1.0-9/13912383_1255384391192559_7404994315413805585_n.jpg?oh=eb89621e55ca18c2fd9819d22934ca45&oe=58462162"%></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row light-green accent-4" >
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons">location_on</i></h2>
            <h5 class="center">¿Como llegar?</h5>

            <p class="light center-align">
              Boulevard Madero #1089 col. Las Vegas, 80090 Culiacán.</br>
              <a href="https://www.google.com.mx/maps/place/Blvd.+Francisco+I.+Madero,+Culiac%C3%A1n+Rosales,+Sin./@24.801444,-107.3688167,17z/data=!4m13!1m7!3m6!1s0x86bcd74db88dad3f:0x19791ac3e9cb39a1!2sBlvd.+Francisco+I.+Madero,+Culiac%C3%A1n+Rosales,+Sin.!3b1!8m2!3d24.8014391!4d-107.366628!3m4!1s0x86bcd74db88dad3f:0x19791ac3e9cb39a1!8m2!3d24.8014391!4d-107.366628">ir a google maps</a>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons">call</i></h2>
            <h5 class="center">Contacto</h5>

            <p class="light center-align">
                Telefono celular: 01 667 224 2890</br>
                Facebook: <a href="https://www.facebook.com/Tacos-y-mariscos-Hnos-SanJon-1120635541334112/info/?tab=overview">facebook Hnos SanJon</a>
              
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="medium material-icons">av_timer</i></h2>
            <h5 class="center">Servicio a domicilio</h5>

            <p class="light center-align">Contamos con servicio de entrega a domicilio solo contactanos y te llevamos tus pedidos hasta la puerta de tu hogar.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Elegante</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag "https://scontent.ftrc1-1.fna.fbcdn.net/v/t1.0-9/13934955_1253859298011735_4101633072085192371_n.jpg?oh=d802c53c3552a086589d33e008294788&oe=584EFC01"%></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Platillos nuevos.</h4>
          <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <%=image_tag "https://scontent.ftrc1-1.fna.fbcdn.net/v/t1.0-9/13680734_1242175029180162_1789595000631064566_n.jpg?oh=e1b768e99d05657096a5aa82ec177ef3&oe=58552E4D",class:"activator"%>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Piña volcan<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Piña volcan<i class="material-icons right">close</i></span>
                  <p>...</p>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <%=image_tag "https://scontent.ftrc1-1.fna.fbcdn.net/v/t1.0-9/13612112_1233769793354019_6041531202022450940_n.jpg?oh=588a5f0092d39f7f646eaff0c58a7925&oe=5853EEA0",class:"activator"%>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Tostajon<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Tostajon<i class="material-icons right">close</i></span>
                  <p>...</p>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <%=image_tag "https://scontent.ftrc1-1.fna.fbcdn.net/v/t1.0-9/13669032_1232104530187212_1672240486538640051_n.jpg?oh=5dce68a1b1dcca7de0b9e08905c42f61&oe=584BAA47",class:"activator"%>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Parguito<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Parguito<i class="material-icons right">close</i></span>
                  <p>...</p>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Delicioso</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag "https://scontent.ftrc1-1.fna.fbcdn.net/v/t1.0-9/13615416_1229640470433618_6084049936195042268_n.jpg?oh=7f9d9a66e48f2078943aa0957b0d614e&oe=584E5D9D"%></div>
  </div>




  <footer class="page-footer yellow accent-2">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">

      </div>
    </div>
  </footer>

  </body>
</html>
