<p id="notice"><%= notice %></p>
    <div class="card">
      <h1 class="center-align">A domicilio</h1>
      <h3 class="center-align"><%="cantidad de ordenes:#{@orders.count}"%> </h3>
    </div>
     <%cont=0%>
    <% @orders.each do |order| %>
      <%if cont%2==0 %>
        <div class="row">
      <%end%>
        <div class="col s12 m6">
          <div class="card  z-depth-4">
            <div class="card-content">
              <span class="card-title"><%=order.customer.nombre%></span>
              <ul>
              <%order.platillos.each do |platillo|%>
                  <li><%=platillo.name%></li>
              <%end%>
              </ul>
            </div>
            <div class="card-action">
              <%if current_user.tipo==3%>
                <%=link_to 'Ver',pay_path(order),class:"amber-text text-darken-4"%><%=link_to 'Hacer perdidos',order,class:"amber-text text-darken-4"%>
                <%=link_to 'Imprimir',order_path(order,:format => :pdf),class:"amber-text text-darken-4",:target => '_blank'%>            
              <%elsif  current_user.tipo==2%>
                <%=link_to 'Hacer perdidos',order,class:"amber-text text-darken-4"%>
              <%end%>
            </div>
          </div>
        </div>
      <%if cont%2!=0 %>
        </div>
      <%end%>
      <%cont+=1%>
    <% end %>

