<div id="ListaPedidos">
  <h4>Pedidos activos:<strong> <%=@pedidos.count%></strong></h4>
  <%=form_tag @direccion, {:method => :get,remote:true,id:"pedidos_barra"} do %>
      <table class="responsive-table centered striped">
          <thead>
            <tr>
                <th data-field="id">Mesa</th>
                <th data-field="id">Cantidad</th>
                <th data-field="id">Platillo</th>
                <th data-field="name">Personalizado</th>
                <th data-field="status">Estado</th>
                <th></th>
            </tr>
           </thead>
           <tbody>
      <%@pedidos.each do |p| %>
        <tr>
          <td><p><%=p.order.table.name%></p></td>
          <td><p><%=p.quantity%></p></td>
          <td><p><%=p.platillo.name%></p></td>
          <td><p><%=p.notes%></p></td>
          <td><p><%="listo"%></p></td>
          <%text="Platillo entregado"%>
          <td><%=link_to  text, saucer_order_path(p,:saucer_order=>{status:p.status+1}), :method=> :put,:remote => true,class:"waves-effect waves-light btn" %></td>
        </tr>
      <%end%>
          </tbody>
        </table>
  <%end%>
</div>