<div class="container">
  <h3 class="card center-align">Lista de mesas</h3>
      <%cont=0%>
      <% @tables.each do |table| %>
        <%if cont%2==0 %>
          <div class="row">
        <%end%>
          <div class="col s12 m6">
            <div class="card z-depth-4">
              <a href="<%=table_url(table)%>">
                <%if table.orders.where(status:1).count==0%>
                  <div class="card-content">
                <%else%>
                  <div class="card-content amber darken-2">
                <%end%>
                  <span class="card-title black-text" ><h1><%=table.name%></h1></span>
                  <p class="black-text"><%=table.description%></p>
                  <h4 class="black-text">Ordenes activas: <%=table.orders.where(status:1).count%></h4>
                </div>
              </a>
            </div>
          </div>
        <%if cont%2!=0 %>
          </div>
        <%end%>
        <%cont+=1%>
      <% end %>
      <div class="row">
         <div class="col s12 m12">
            <div class="card z-depth-4">
              <a  class="black-text"  href="<%=domicilio_path%>">
                <%if Order.where(status:1,takeaway:true).count==0%>
                  <div class="card-content">
                <%else%>
                  <div class="card-content amber darken-2">
                <%end%>
                  <span class="card-title"><h1>A domicilio</h1></span>
                  <p  class="black-text">Aqui  se encuentran todas las ordenes a domicilio</p>
                  <h4 class="black-text">Ordenes activas: <%=Order.where(status:1,takeaway:true).count%></h4>
                </div>
              </a>
            </div>
          </div>
      </div>
    </div>

