<!DOCTYPE html>
<html>
<head>
  <title>MariscosSanJon</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Mariscos Sanjon</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%=render 'partials/menu'%>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%=render 'partials/menu'%>
      </ul>
    </div>
  </nav>
  <%unless notice.nil?%>
    <p class="notice"><%= notice %></p>
  <%end%>
  <%unless alert.nil?%>
    <p class="alert"><%= alert %></p>
  <%end%>
<%= yield %>

</body>
</html>
