<!DOCTYPE html>
<html ng-app="sanjon">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"> </script>
  <script> 
    angular.module('sanjon',[]);
  </script>
  <title>MariscosSanJon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
</head>
<body>
  <nav>
    <div class="nav-wrapper light-blue accent-3">
      <a href="<%=root_path%>" class="brand-logo">Mariscos Sanjon</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%=render 'partials/menu'%>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%=render 'partials/menu'%>
      </ul>
    </div>
  </nav>
  <%unless notice.nil?%>
    <div class="card">
      <script>
        Materialize.toast('<%= notice %>', 4000);
      </script>
    </div>
  <%end%>
  <%unless alert.nil?%>
      <script>
        Materialize.toast('<%= alert %>', 4000);
      </script>
  <%end%>
<%= yield %>

</body>
</html>
